<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>rose`s resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link ref="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css" media="screen">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../stylesheets/style.css"/>
	<script src="../lib/jquery/jquery-1.11.2.min.js"></script>
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="main-header resume-header container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12  clearfix">
			<div class="pull-left">
				<span class="glyphicon glyphicon-list-alt"></span>
				my resume!
			</div>
			<div class="pull-right">
				<a class="resume-back-home" href="../index.html">
					<span class="glyphicon glyphicon-home"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="resume-content col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;基本信息</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<tbody>
						<tr>
							<td>中文名：</td>
							<td>谢蕊螺</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>英文名：</td>
							<td>crystal</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>性别：</td>
							<td>女</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>籍贯：</td>
							<td>四川</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>手机：</td>
							<td>156xxxxxxxx</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>邮箱：</td>
							<td>1534757178@qq.com</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel panel-warning">
				<div class="panel-heading ">
					<h3 class="panel-title"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;教育背景</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<tbody>
						<tr>
							<td>毕业学校：</td>
							<td>重庆交通大学</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>学历：</td>
							<td>本科</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>毕业时间：</td>
							<td>2013－06</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>专业：</td>
							<td>机械设计制造及其自动化</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-hand-right"></span>&nbsp;工作经历
					</h3>
				</div>
				<div class="paenl-body">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><span class="glyphicon glyphicon-record"></span>&nbsp;天宝电子有限公司</h3>
						</div>
						<div class="panel-body">
							<table class="table">
								<tbody>
								<tr>
									<td class="min-width-72">职位：</td>
									<td>IE</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>时间：</td>
									<td>2013－06 ——— 2014－09</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>关键词：</td>
									<td>产品流程，SOP，加工工艺，辅料评估，标准化工时，标准化动作...</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>