<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>rose`s works</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link ref="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css" media="screen">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../stylesheets/style.css"/>
	<script src="../lib/jquery/jquery-1.11.2.min.js"></script>
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="main-header resume-header container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12  clearfix">
			<div class="pull-left">
				<span class="glyphicon glyphicon-th-list"></span>
				my works!
			</div>
			<div class="pull-right">
				<a class="resume-back-home" href="../index.html">
					<span class="glyphicon glyphicon-home"></span>
				</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>