body,html {
    background-color:  rgb(249,209,212);
    height:auto;

}
.width970 {
    width: 970px;
}
.main-header {
    height:60px;
    width:100%;
    line-height:60px;
    color:#fff;
    font-family:"Microsoft yahei";
    font-size:24px;
    background-color:rgb(240,145,146);
}
.main-footer {
    width:100%;
    line-height:60px;
    background-color: rgb(240,145,146);
    color:#fff;
}
.main-content {
    color:rgb(240,145,146);
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.text16 {
    font-size:16px;
}
.line-height-32 {
    line-height:32px;
}



/*resume*/
.resume-header {
    border-bottom:2px solid #ddd;
}
a.resume-back-home:link {
    color: #fff;
}
a.resume-back-home:visited {
    color: #fff;
}
a.resume-back-home:hover {
    color: #eee;
}
a.resume-back-home:active {
    color: #fff;
}
.resume-content {
    margin-top:20px;
    margin-botton:20px;
}
.min-width-72 {
    min-width:72px;
}
